.column {
  padding: 0 5px;
  min-width: 150px;
  text-align: center;
  height: 380px;

  p {
    font-weight: 600;
    margin: 0 0 5px;
  }

  .columnHead {
    padding: 10px 0;
    background-color: transparent;
  }

  .columnBody {
    height: 75%;
    background-color: #f4f4f4;

    &--hover {
      background-color: #d8d8d8;
    }

    &--copyMode {
      border-bottom: 2px solid #ff01c7;
    }
  }

  .copyType {
    text-transform: capitalize;
    color: #ff01c7;
  }
}
