.column {
  margin: 0 5px;
  min-width: 150px;
  text-align: center;
  height: 500px;

  p {
    font-weight: 600;
    margin: 0 0 5px;
  }

  .columnHead {
    padding: 10px 0;
    background-color: transparent;
  }

  .columnBody {
    height: 100%;
    background-color: #f4f4f4;

    &--hover {
      background-color: #D8D8D8;
    }
  }
}
