.row {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #ff01c7;
  border: 1px solid #ff01c7;
  background-color: #fff;
  position: relative;

  &--add {
    cursor: pointer;
    background-color: #5c5c5c;
    color: #fff;
    border: 1px solid #5c5c5c;
  }

  .deleteIcon {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  &--disabled {
    color: #9f9f9f !important;
    border: 1px solid #9f9f9f !important;
  }
}

.row + .row {
  margin-top: 10px;
}
